body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: black;
  color: white;
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer {
  font-size: 6em;
  font-weight: bold;
  color: red;
}

#startButton {
  padding: 15px 30px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}


